* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fdfdfc; 
    font-family: 'Arial', sans-serif;
    width: 100%;
    min-height: 100vh;
}


.main-wrapper {
    margin: 0 52px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 120px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    z-index: 10;
    background-color: #fdfdfc; 
}

.logo {
    width: 100%;
    max-width: 450px; 
    height: auto;
    display: block;
    transition: opacity 0.3s;
}
.logo:hover { opacity: 0.7; }


.main-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: opacity 0.3s;
}
.main-nav a:hover { opacity: 0.6; }


.hero-block {
    width: 100%;
    /* Высота: весь экран минус высота хедера (120px) и отступ снизу (20px) */
    height: calc(100vh - 140px); 
    min-height: 500px;
    
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    border-radius: 15px; 
    
    display: flex;
    align-items: center; 
    padding-left: 60px; 
    
    margin-bottom: 20px;
}


.hero-title {
    font-size: clamp(2rem, 5vw, 3.5rem);
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    color: #222; 
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 80px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 19px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s;
}
.btn:hover {
    background-color: #000;
    color: #fff;
}


.burger-menu {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
}
.burger-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 2px;
    transition: all 0.3s;
}


.houses-section {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.section-title {
    font-size: clamp(2rem, 4vw, 3rem); /* Адаптивный размер */
    font-weight: 800;
    text-transform: uppercase;
    color: #222;
    margin: 40px 0; /* Отступ сверху и снизу от заголовка */
    line-height: 1.1;
}

.houses-grid {
    display: flex;
    width: 100%;
    flex: 1;
    gap: 20px; 
    min-height: 600px; 
}

.house-card {
    flex: 1; 
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.card-overlay::after {
    content: '';
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent); /* снизу вверх, черный 000, 70% прозрачность, верхняя часть прозрачная */
    z-index: 1;
}

.card-content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    z-index: 2; 
    color: #fff;
}

.card-text-row {
    display: flex;
    align-items: baseline; /* Выровнять текст и маленькие цифры по низу */
    gap: 10px;
    margin-bottom: 15px;
}

.card-text-row h3 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.card-text-row .count {
    font-size: 0.9rem;
    opacity: 0.8;
    font-weight: 400;
}


.btn-card {
    display: inline-block;
    padding: 13px 60px;
    border: 2px solid #fff;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn-card:hover {
    background-color: #fff;
    color: #000;
}


/* Слайдер */

.selection-section {
    width: 100%;
    min-height: 80vh;
    display: flex;
    gap: 80px; 
    margin-top: 170px;
    margin-bottom: 60px;
}

.slider-wrapper {
    flex: 1.2; 
    display: flex;
    flex-direction: column;
    gap: 30px; 
    min-width: 0;
}


.slide-item {
    outline: none; /* Убираем синюю обводку при клике */
}

.slide-img {
    width: 100%;
    height: 500px; 
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    border-radius: 15px; 
}

.slider-controls {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
    padding: 0 10px;
}


.slider-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.slider-arrow:hover {
    border-color: #000;
    background-color: #000;
}

.slider-arrow:hover path {
    stroke: #fff;
}


.slider-counter {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: monospace; /* Чтобы цифры не прыгали по ширине */
    letter-spacing: 2px;
}


.info-content {
    flex: 1; /* Занимает оставшееся место */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
}

.info-title {
    font-size: clamp(2rem, 3.5vw, 3rem);
    font-weight: 800;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 30px;
    line-height: 1.2;
}

.info-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 50px;
    max-width: 90%;
}

.stats-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.stat-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    flex-shrink: 0;
}

.stat-desc {
    font-size: 1.1rem;
    color: #333;
    max-width: 200px;
}


/* ФОРМА */

.contact-section {
    width: 100%;
    margin-bottom: 50px;
    background-color: #222; 
    border-radius: 15px; 
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.contact-title {
        font-size: clamp(2rem, 4vw, 3.5rem); 
        font-weight: 800; 
        line-height: 1.1; 
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 50px;
}

.input-group {
        margin-bottom: 15px;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section input[type="tel"],
.contact-section textarea {
        width: 100%;
        background-color: transparent; /* Прозрачный фон */
        border: 1px solid #555;
        border-radius: 8px;
        padding: 15px 20px;
        font-size: 16px;
        color: #fff; /* Белый текст */
        font-family: 'Arial', sans-serif;
        outline: none;
        transition: border-color 0.3s;
}

.contact-section input::placeholder,
.contact-section textarea::placeholder {
    color: #888;
}

    /* При клике рамка становится белой */
.contact-section input:focus,
.contact-section textarea:focus {
    border-color: #fff;
}


.checkbox-group {
        display: flex;
        align-items: flex-start;
        text-align: left;
        gap: 10px;
        margin-bottom: 30px;
        margin-top: 20px;
}

.checkbox-group input[type="checkbox"] {
    /* Сбрасываем стандартные стили */
    -webkit-appearance: none;
    appearance: none;
    /* Рисуем свой квадрат */
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 1px solid #fff; /* Белая рамка */
    border-radius: 4px;
    display: grid;
    place-content: center;
    cursor: pointer;
    margin-top: 2px;
}

/* Когда галочка нажата */
.checkbox-group input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff; /* Белый квадратик внутри при нажатии */
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
}

.checkbox-group input[type="checkbox"]:checked::before {
        transform: scale(1);
}

.checkbox-group label {
    font-size: 12px;
    color: #aaa;
    line-height: 1.4;
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.submit-btn:hover {
    background-color: #e0e0e0;
}

.submit-btn:active {
    transform: scale(0.98);
}


.status {
    margin-top: 20px;
    font-size: 14px;
    min-height: 20px;
}
.status.success { color: #4caf50; }
.status.error { color: #f44336; }

.main-footer {
    width: 100%;
    background-color: #222; /* Темно-серый фон (как на фото) */
    border-radius: 15px;    /* Сохраняем стилистику закруглений */
    padding: 50px 40px;
    margin-bottom: 20px;    /* Небольшой отступ от самого низа браузера */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;    /* Центрируем логотип */
    gap: 40px;              /* Расстояние между лого и текстом */
}


.footer-logo {
    max-width: 300px;  
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    padding-top: 30px;
}

.footer-left p {
    margin-bottom: 5px;
    color: #888; /* Цвет копирайта чуть серее */
    font-size: 14px;
}

.footer-left a,
.footer-right a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: opacity 0.3s;
}

.footer-left a:hover,
.footer-right a:hover {
    opacity: 0.7;
}



@media (max-width: 900px) {
    .main-wrapper {
        margin: 0 15px; 
    }
    
    .header {
        height: 80px; 
    }
    
    .hero-block {
        height: calc(100vh - 100px); 
        border-radius: 20px;
        padding-left: 30px; 
        background-image: url("../img/background3.jpg");
        align-items: flex-start; 
        padding-top: 130px;
    }

    .logo { max-width: 200px; }

    .burger-menu { display: flex; }


    .main-nav ul {
        position: fixed;
        top: 0; right: -100%;
        width: 100%; height: 100vh;
        background-color: #fdfdfc;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        transition: right 0.4s ease;
        z-index: 15;
    }
    .main-nav ul.active { right: 0; }
    .main-nav a { font-size: 24px; }

    /* Анимация крестика */
    .burger-menu.open span:nth-child(1) { transform: rotate(45deg) translate(5px, 6px); }
    .burger-menu.open span:nth-child(2) { opacity: 0; }
    .burger-menu.open span:nth-child(3) { transform: rotate(-45deg) translate(5px, -6px); }


    /* КАРТОЧКИ */
    .selection-section {
        margin-top: 60px; 
        margin-bottom: 80px;
    }

     .houses-section {
        height: auto;
    }

    .section-title {
        font-size: 24px;
        margin: 30px 0;
    }

    .houses-grid {
        flex-direction: column;
        height: auto;
    }

    .house-card {
        width: 100%;
        height: 400px;
    }

    .btn-card {
        padding: 10px 30px;
    }


    /* СЛАЙДЕР */
     .selection-section {
        flex-direction: column;
        gap: 40px;
        min-height: auto;
    }

    .slide-img {
        height: 300px;
    }

    .slider-controls {
        justify-content: center;
        gap: 40px;
    }
    
    .info-content {
        padding-top: 0;
    }


    /* ФОРМА */

    .contact-section {
        padding: 40px 15px;
    }


    /* ФУТЕР */
    .main-footer {
        padding: 40px 20px;
        gap: 30px;
    }

    .footer-logo {
        max-width: 200px; /* Уменьшаем лого на телефоне */
    }

    .footer-bottom {
        flex-direction: column; /* Текст ставим в столбик */
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .btn {
        background-color: #000;
        color: #fff;
        border: 2px solid #000000;
    }
    .btn:hover {
        background-color: #ffffff;
        border: 2px solid #ffffff;
        color: #000;
    }

}

